<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
      quasi molestiae tempore perspiciatis nesciunt dicta voluptatum eaque
      alias, vitae mollitia animi reiciendis quos, sed iste quo tempora
      enim, earum vel.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio
      quasi molestiae tempore perspiciatis nesciunt dicta voluptatum eaque
      alias, vitae mollitia animi reiciendis quos, sed iste quo tempora enim,
      earum vel.
    </p>
  </div>
</section>